body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #140c0c;
    margin: 0;
    padding: 1.25rem;
    text-align: center;
}

h1 {
    color: #ffffff;
}

.container {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    flex-wrap: wrap;
    margin-top: 1.875rem;
}

.container img {
    width: 300px;
    border-radius: 10px;
    transition: transform .3s;
    cursor: pointer;
}

.container img:hover {
    transform: scale(1.05);
}

.back-button img {
    width: 50px;
    margin-top: 1.25rem;
}

iframe {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin-top: 1.25rem;
    align-items: center;
}
p a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}