.container{
    display:grid;
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa1{
    background-color: rgb(192, 124, 255);
    grid-area: 1 / 1 / 2 / 5;
}

.caixa2{
    background-color: rgb(74, 213, 223);
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    grid-area: 2 / 1 / 4 / 3;
}

.caixa3{
    background-color: rgb(236, 167, 87);
    grid-row: 2 /4;
    grid-column: 3 / 5;
    grid-area: 2 / 3 / 4 / 5;

}

